[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart={{installdir}}/bin/{{name}}-systemd
TimeoutStartSec=20
StandardOutput=syslog
User={{name}}
Group={{name}}
PrivateTmp=true
NoNewPrivileges=true
RuntimeDirectory={{name}}
StateDirectory={{name}}
ConfigurationDirectory={{name}}
NotifyAccess=all
FileDescriptorStoreMax=2

Environment="LOGLEVEL=trace"

[Install]
WantedBy=multi-user.target
